* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.circle1 {
    height: 700px;
    width: 700px;
    border-radius: 100%;
    position: absolute;
    left: -190px;
    top: -100px;
    background: linear-gradient(to top, rgb(255, 0, 17), black);
}
.circle2 {
    height: 650px;
    width: 650px;
    border-radius: 100%;
    position: absolute;
    left: -280px;
    top: -200px;
    background: linear-gradient(to top, rgb(245, 246, 246), black);
}
.back {
    filter: blur(3px);
}
.appname {
    height: 100px;
    width: 100%;
    color: white;
}